@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@font-face {
    font-family: "Genshin";
    font-style: normal;
    font-weight: normal;
    src: url(../Font/Genshin_Impact_Font.font-woff) format("truetype")
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url('../Website\ Images/Fontaine.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Outfit', sans-serif;
}

.main-container {
    margin: 20px 50px;
    text-align: center;
    align-items: center;
    padding: 0px 50px;

}

.main-container h2 {
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-nav-bar {
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.Homepage {
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.elements {
    width: 5%;
    transition: all 0.2s ease;
}

.elements:hover {
    transition: all 0.2s ease;
    transform: scale(1.5) perspective(4500px);
    cursor: pointer;
}

.tab-logo {
    padding: 20px;
    width: 15%;
    height: auto;
}

.nav {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background:rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px 100px;
    margin: 0px 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.genshinLogo {
    width: 100%;
}

.GenshinImpactBold {
    color: #0047AB;
}

.first-content-container {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.Genshin-Content {
    padding: 50px 150px;
}

.Genshin-Content h2 {
    margin: 20px;
}

.h1-genshin-updates {
    text-align: center;
    background-color: white;
    padding: 20px 0px;
    margin: 30px 100px;
    border-radius: 25px;
    
}

.genshin-updates {
    justify-content: space-between;
}

.genshin-updates-containers {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.version-4-3-updates {
    margin: auto;
    background:rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 450px;
}

.version-4-3-updates .rose-muskets-cover-art {
    transition: all 0.2s ease;
}

.version-4-3-updates .rose-muskets-cover-art:hover {
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
    transform: scale(1.1) perspective(4500px);
}

.rose-muskets-title {
    translate: 0px -20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.rose-muskets-cover-art {
    width: 350px;
    height: 200px;
    border-radius: 10px;;
    margin-top: 0px;
    margin-bottom: 20px;
}

.version-4-2-updates {
    margin: auto;
    background:rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 450px;
}

.version-4-2-updates .masquerade-guilty-cover-art {
    transition: all 0.2s ease;
}

.version-4-2-updates .masquerade-guilty-cover-art:hover {
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
    transform: scale(1.1) perspective(4500px);
}

.masquerade-guilty-title {
    translate: 0px -20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.masquerade-guilty-cover-art {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#ytplayer {
    border-radius: 10px;
    width: 350px;
    height: 200px;
    transition: all 0.2s ease;
    margin: 20px;
}

#ytplayer:hover {
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
    transform: scale(1.1) perspective(4500px);
}

.scrollable-object {
    padding: 20px;
    margin: auto;
    text-align: center;
    overflow-x: auto;
    overflow-y: scroll;
    height: 500px;
}

.scrollable-object .h3-4-3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.scrollable-object .rose-musket-redirect {
    text-decoration: none;
}

.char-container-1, .char-container-2, 
.char-container-3 {
    display: flex;
}

.countdown-4-3 {
    font-size: 30px;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(135, 165, 247);
}

.furina-container, .charlotte-container, 
.freminet-container, .baizhu-container, 
.dori-container, .nilou-container {
    margin: auto;
    padding: 10px;
    width: 50%;
    transition: all 0.2s ease;
}

.furina-container:hover, .charlotte-container:hover, 
.freminet-container:hover, .baizhu-container:hover, 
.dori-container:hover, .nilou-container:hover {
    transition: all 0.2s ease;
    transform: scale(1.1) perspective(4500px);
}

.element-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}

.element-icon {
    width: 20%;
}

.character-content-container {
    margin: auto;
    border: 5px solid #ffffff;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 10px;

}

.character-content-container a {
    text-decoration: none;
    color: black;
}

.character-content-container img {
    border-radius: 10px;
    width: 100%;
}

/*
.g-4-3-updates {
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.scrollable-object-1 {
    width: auto;
    overflow-x: auto;
    overflow-y: scroll;
}

.g-4-3-updates .r-m-image {
    width: 80%;
    border-radius: 20px;
    margin: 20px;
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
}

.g-4-3-updates .r-m-image:hover {
    transform: scale(1.1) perspective(4500px);
}

.countdown-4-3 {
    font-size: 30px;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
}

.g-4-2-updates {
    border-radius: 10px;
    margin: 20px;
    background:rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.scrollable-object-2 {
    overflow-x: auto;
    overflow-y: scroll;
}

.scrollable-object-2 h3 {
    margin: 20px;
}

.char-container {
    display: flex;
    justify-content: center;
}

.element-name {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 0px 100px;
}

.element-img {
    width: 40px;
}

.furina-container {
    border: 5px solid #ffffff;
    margin: 20px;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
}

.furina-container p {
    padding: 0px 0px;
    margin: 10px;
}

.charlotte-container {
    border: 5px solid #ffffff;
    margin: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.charlotte-container p {
    padding: 0px 0px;
    margin: 10px;
}

.g-4-2-updates .update-img-2 {
    width: 80%;
    border-radius: 20px;
    margin: 20px;
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
}

.g-4-2-updates .update-img-2:hover {
    transform: scale(1.1) perspective(4500px);
}

#ytplayer {
    margin: 20px;
    border-radius: 10px;
    transition: all 0.2s ease;

}

#ytplayer:hover {
    transform: scale(1.1) perspective(4500px);
}

#ytplayer-2 {
    transition: all 0.2s ease;
    border-radius: 10px;
}

#ytplayer-2:hover {
    transform: scale(1.1) perspective(4500px);
}

*/

.forum-container {
    text-align: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 200px;
    margin: 20px 50px;
}

footer {
    text-align: center;
    background:rgba(156, 186, 250, 0.7);
    padding: 50px;
    margin: 0px 50px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    padding: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(156, 186, 250, 0.7);
    border-radius: 10px;
  }

/*
    background-image: linear-gradient(45deg, #ffffff, hsl(227, 100%, 56%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
*/