@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@font-face {
    font-family: "Genshin";
    font-style: normal;
    font-weight: normal;
    src: url(../Font/Genshin_Impact_Font.font-woff) format("truetype")
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url('../Website\ Images/Fontaine.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Outfit', sans-serif;
}

.main-container {
    text-align: center;
    align-items: center;
    padding: 0px 50px;

}

.main-container h2 {
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Homepage {
    font-size: 50px;
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav {
    background:rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px 50px;
    margin: 0px;
    text-align: right;
}

.genshinLogo {
    width: 50%;
}

.GenshinImpactBold {
    color: #0047AB;
}

.side-bar-content-container {
    background:rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.Genshin-Content {

    padding: 100px;
}

.forum-container {
    text-align: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 200px;
    margin: 20px 50px;
}

footer {
    text-align: center;
    background:rgba(156, 186, 250, 0.7);
    padding: 50px;
    margin: 0px 50px;
}

/*
    background-image: linear-gradient(45deg, #ffffff, hsl(227, 100%, 56%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
*/