@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@font-face {
    font-family: "Genshin";
    font-style: normal;
    font-weight: normal;
    src: url(../Font/Genshin_Impact_Font.font-woff) format("truetype")
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url('../Website\ Images/Fontaine.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Outfit', sans-serif;
}

.main-container {
    margin: 20px 50px;
    text-align: center;
    align-items: center;
    padding: 0px 50px;

}

.main-container h2 {
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-nav-bar {
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.Homepage {
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.elements {
    width: 5%;
}

.tab-logo {
    padding: 20px;
    width: 15%;
    height: auto;
}

.nav {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background:rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px 50px;
    margin: 0px 50px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.genshinLogo {
    width: 50%;
}

.GenshinImpactBold {
    color: #0047AB;
}

.first-content-container {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.Genshin-Content {
    padding: 50px 150px;
}

.Genshin-Content h2 {
    margin: 20px;
}

.h1-genshin-updates {
    text-align: center;
    background-color: white;
    padding: 20px 0px;
    margin: 30px 100px;
    border-radius: 25px;
    
}

.genshin-updates {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.genshin-updates-containers {
    display: flex;
    text-align: center;
}


.g-4-3-updates {
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.7);
    padding: 20px 0px;
    margin: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    overflow-x: scroll;
    overflow-y: scroll;
    width: 1200px;
    height: 900px;
}

.g-4-3-updates img {
    width: 80%;
    border-radius: 20px;
    margin: 20px;
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
}

.g-4-3-updates img:hover {
    transform: scale(1.1) perspective(4500px);
}

.countdown-4-3 {
    font-size: 30px;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Genshin','Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
}

.g-4-2-updates {
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.7);
    padding: 20px 0px;
    margin: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.g-4-2-updates img {
    width: 80%;
    border-radius: 20px;
    margin: 20px;
    border: 5px solid #ffffff;
    transition: all 0.2s ease;
}

.g-4-2-updates img:hover {
    transform: scale(1.1) perspective(4500px);
}

#ytplayer {
    margin: 20px;
    border-radius: 10px;
    transition: all 0.2s ease;

}

#ytplayer:hover {
    transform: scale(1.1) perspective(4500px);
}

.forum-container {
    text-align: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 200px;
    margin: 20px 50px;
}

footer {
    text-align: center;
    background:rgba(156, 186, 250, 0.7);
    padding: 50px;
    margin: 0px 50px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    padding: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(156, 186, 250, 0.7);
    border-radius: 10px;
  }

/*
    background-image: linear-gradient(45deg, #ffffff, hsl(227, 100%, 56%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
*/